.weatherCard{
  border-style: solid;
  border-color: black;
  width: 8em;
  height: 5em;
}
input{
  width: 5em;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
